PORT=5000
ADMIN_KEY=efc0a8a0fe2e4b8c26479816ba333eac8151931fa9af9aa2dfd1a531276383c5

# SendGrid Configuration
SENDGRID_API_KEY=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
SENDGRID_FROM_EMAIL=noreply@greenvalleyacademy.edu
SENDGRID_APPROVAL_TEMPLATE=d-2b03fdcb548c4c208a15a3d09050929e 
SENDGRID_REJECTION_TEMPLATE=d-27a676d7fd9c4653ae5953b7866169b0 

# CORS Configuration (if needed)
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
